
<div class="layout overflow-hidden">
  <!-- Navigation -->



            <!-- Sidebar -->
            <aside class="sidebar bg-light py-4">
              <div class="tab-content h-100" role="tablist">
                <!-- Create task -->
                <div class="tab-pane fade h-100 show active" id="tab-content-chats" role="tabpanel">
                  <div class="d-flex flex-column h-100 position-relative">
                    <div class="hide-scrollbar">
                      <div class="container py-8">
                        <!-- Title -->
                        <div class="mb-8">
                          <h2 class="fw-bold m-0">Create task</h2>
                        </div>
                        <!-- Form to add task -->
                        <div class="mb-8">
                          <form [formGroup]="todoForm">
                            <mat-form-field appearance="outline">
                              <mat-label>Title</mat-label>
                              <input formControlName="title" matInput placeholder="Task title">
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                              <mat-label>Description</mat-label>
                              <input formControlName="item" matInput placeholder="Task description">
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                              <mat-label>Fecha</mat-label>
                              <!-- Reemplazar esto con un input estándar para la fecha -->
                              <input type="date" formControlName="date" matInput placeholder="Fecha">
                            </mat-form-field>

                            <button (click)="addtask()" mat-raised-button color="primary" [disabled]="todoForm.invalid">Add new task</button>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </aside>
          <!-- Sidebar -->

          <!-- task -->
          <main class="main is-visible" data-dropzone-area="">
            <div class="container h-100">
              <div class="d-flex flex-column h-100 position-relative">
                <!-- task: Header -->
                <div class="chat-header border-bottom py-4 py-lg-7">
                  <div class="row align-items-center">
                    <!-- Mobile: close -->
                    <div class="col-2 d-xl-none">
                      <a class="icon icon-lg text-muted" href="#" data-toggle-chat="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-left"><polyline points="15 18 9 12 15 6"></polyline></svg>
                      </a>
                    </div>
                    <!-- Mobile: close -->

                    <!-- Content -->
                    <div class="col-12 col-xl-12">
                      <div cdkDropListGroup>
                        <div class="container">
                          <div class="row">
                            <!-- Columna 1: Tareas por hacer -->
                            <div class="col-md-4">
                              <div class="example-container">
                                <h2>Tasks</h2>
                                <div cdkDropList [cdkDropListData]="task" class="example-list" (cdkDropListDropped)="drop($event)">
                                  <div *ngFor="let item of task; let i = index" class="card mb-3" cdkDrag>
                                    <div class="card-body">
                                      <!-- Botón de tres puntos -->
                                      <button mat-icon-button [matMenuTriggerFor]="menu" class="card-menu-button">
                                        <mat-icon>more_vert</mat-icon>
                                      </button>
                                      <mat-menu #menu="matMenu">
                                        <button mat-menu-item (click)="onEdit(item)">Editar</button>
                                        <button mat-menu-item (click)="deletetask(i)">Eliminar</button>
                                      </mat-menu>

                                      <!-- Contenido principal de la tarjeta -->
                                      <h3 class="card-title"><strong>{{ item.title }}</strong></h3>
                                      <p class="card-text">{{ item.description }}</p>
                                      <p class="card-text text-muted">{{ item.date | date: 'longDate' }}</p>
                                    </div>

                                  </div>
                                </div>

                              </div>
                            </div>

                            <!-- Columna 2: Tareas en Proceso -->
                            <div class="col-md-4 vertical-line" id="inProgress-container">
                              <div class="example-container">
                                <h2>In progress</h2>
                                <div cdkDropList [cdkDropListData]="inprogress" class="example-list" (cdkDropListDropped)="drop($event)">
                                  <div *ngFor="let item of inprogress; let i = index" class="card mb-3" cdkDrag>
                                    <div class="card-body">
                                      <button mat-icon-button  class="card-menu-button">
                                        <mat-icon>more_vert</mat-icon>
                                      </button>
                                      <!-- <mat-menu #menu="matMenu">
                                        <button mat-menu-item (click)="deletetask(i)">Eliminar</button>
                                      </mat-menu> -->

                                      <!-- Título arriba -->
                                      <h3 class="card-title"><strong>{{ item.title }}</strong></h3>
                                      <!-- Descripción en medio -->
                                      <p class="card-text">{{ item.description }}</p>
                                      <!-- Fecha al final -->
                                      <p class="card-text text-muted">{{ item.date | date: 'longDate' }}</p>
                                    </div>

                                  </div>
                                </div>
                              </div>
                            </div>

                            <!-- Columna 3: Tareas Completadas -->
                            <div class="col-md-4 vertical-line" id="inProgress-container">
                              <div class="example-container">
                                <h2>Completed</h2>
                                <div cdkDropList [cdkDropListData]="done" class="example-list" (cdkDropListDropped)="drop($event)">
                                  <div *ngFor="let item of done; let i = index" class="card mb-3" cdkDrag>
                                    <div class="card-body">
                                      <!-- Título arriba -->
                                      <h3 class="card-title"><mat-icon>check_circle</mat-icon><strong>{{ item.title }}</strong> </h3>

                                      <!-- Descripción en medio -->
                                      <p class="card-text">{{ item.description }}</p>
                                      <!-- Fecha al final -->
                                      <p class="card-text text-muted">{{ item.date | date: 'longDate' }}</p>
                                    </div>

                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Content -->
                  </div>
                </div>
                <!-- task: Header -->
              </div>
            </div>
          </main>
          <!-- task -->



</div>
